@{
    ViewBag.Title = "Home Page";
}

<img src="~/images/info.jpg" height="300" width="1200" />
<div class="jumbotron">  
    <center><h2>KATHERINE FABIOLA QUIJANO DIAZ</h2></center>
    <center><h3>25-0800-2009</h3></center>
</div>

